Comment: This stack deploys the StrongSort YOLOv5 model to the MBARI Benthic dataset in FathomNet.
StackName: yv5
TaskDefinition: strongsort-yolov5
ContainerImage: 548531997526.dkr.ecr.us-west-2.amazonaws.com/mbari/strongsort-yolov5:1.10.0
FleetSize: 1
model_location: s3://deepsea-ai-548531997526-models/yolov5x_mbay_benthic_model.tar.gz
track_config: s3://deepsea-ai-548531997526-track-conf/strong_sort_benthic.yaml
